.container {
  display: flex;
  overflow: hidden;
}

.main-content {
  flex: 1;
  height: 100vh;
  background: url("../assets/img2.jpg");
}

.image-container {
  height: 100%;
  display: grid;
  place-content: center;
}
.sidebar {
  position: fixed;
  background-color: #fff;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  z-index: 999;
}

.heading-1 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-block: 7px;
  text-align: left;

  
}

.sidebar-open {
  flex-basis: 300px;
  padding: 1rem 1.25rem;
  max-width: 400px;
  transition: all 300ms;
}

.sidebar-close {
  flex-basis: 0;
  max-width: 0;
  transition: all 300ms;
}
.actions {
  display: flex;
  gap: 12px;
}
.action-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.action-icons > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  padding: 5px;
  background-color: #d1d5db;
  margin-bottom: 8px;
}
.action-icons > span {
  font-size: 10px;
}
.information {
  margin-block: 12px;
  font-size: 0.8rem;
  padding-top: 5px;
}
.description {
  margin-block: 12px;
  padding-top: 5px;
}
.desc-head {
  margin-block: 8px;
}

.desc-text {
  font-size: 12px;
  color: #9CA3AF;
}

.btn {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 6px 12px;
}
.read-btn {
  padding-block: 5px;
  display: flex;
  gap: 4px;
  background-color: transparent;
  color: chocolate;
  outline: none;
  border: none;
}
.sidebar-footer-btns {
  margin-block: 12px;
  display: flex;
  gap: 1rem;
}

.add-btn {
  color: #fff;
  background-color: chocolate;
  padding-block: 8px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.souvenir-btn {
  border: 1px solid chocolate;
  border-radius: 4px;
  color: chocolate;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
